In [14]:
import pandas as pd
import numpy as np
from datetime import datetime

# Конспект

README часть

In [15]:
df = pd.read_csv("lesson_1_data.csv", encoding="windows-1251", sep=";")

In [25]:
df.tail()

,number,create_date,Дата оплаты,Title,Статус,Заработано,Город,Платежная система
287,1064720,30.12.2019 9:42,30.12.2019 12:49,Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...,Завершен,2935.44,Самарская область,Яндекс.Касса
288,1064724,30.12.2019 11:32,NaN,Курс обучения «Консультант»,Отменен,0.00,NaN,NaN
289,1064775,31.12.2019 2:17,31.12.2019 2:22,Курс обучения «Консультант»,Завершен,7423.92,NaN,"Сбербанк эквайринг,Бонусный счет"
290,1064793,31.12.2019 16:40,01.01.2020 14:29,Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...,Завершен,2935.44,Республика Карелия,Яндекс.Касса
291,1064796,31.12.2019 17:29,31.12.2019 17:32,Курс от Школы Диетологов. Повышение квалификац...,Завершен,9898.56,Уфа,"Сбербанк эквайринг,Бонусный счет"

In [20]:
df.shape

(292, 8)

In [21]:
df.dtypes

Номер                  int64
Дата создания         object
Дата оплаты           object
Title                 object
Статус                object
Заработано           float64
Город                 object
Платежная система     object
dtype: object

In [ ]:
df.describe()

In [ ]:
df.columns

In [26]:
df = df.rename(columns={
    "Номер":"number",
    "Дата создания":"create_date",
    'Дата оплаты': "paymant_date",
    'Title':"title",
    'Статус':"status",
    'Заработано':"money",
    'Город':"city",
    'Платежная система':"payment_system",
})

In [27]:
df.head()

,number,create_date,paymant_date,title,status,money,city,payment_system
0,1062823,01.12.2019 10:50,01.12.2019 10:52,Курс обучения «Эксперт»,Завершен,29597.5,Чита,Сбербанк эквайринг
1,1062855,01.12.2019 20:53,01.12.2019 21:27,Курс обучения «Эксперт»,Завершен,17450.3,Краснодар,Яндекс.Касса
2,1062856,01.12.2019 21:43,NaN,Курс обучения «Специалист»,Отменен,0.0,NaN,NaN
3,1062880,03.12.2019 0:18,NaN,Курс обучения «Консультант»,Отменен,0.0,г.Москва и Московская область,NaN
4,1062899,03.12.2019 21:43,NaN,Курс обучения «Эксперт»,Отменен,0.0,г.Москва и Московская область,NaN

In [28]:
df.title.head()

0        Курс обучения «Эксперт»
1        Курс обучения «Эксперт»
2     Курс обучения «Специалист»
3    Курс обучения «Консультант»
4        Курс обучения «Эксперт»
Name: title, dtype: object

In [29]:
df.money.sum()

992103.5900000001

In [31]:
all_money = df.money.sum()
title_count = df.title.unique()

In [32]:
all_money

992103.5900000001

In [33]:
title_count

array(['Курс обучения «Эксперт»', 'Курс обучения «Специалист»',
       'Курс обучения «Консультант»', 'Курс от Школы Диетологов. Бизнес',
       'Курс от Школы Диетологов. Повышение квалификации. ',
       'Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автосписанием'],
      dtype=object)

In [34]:
new_df = df.groupby(["title"], as_index=False)\
    .aggregate({"money":"sum"})\
    .sort_values("money", ascending = False)
    
new_df

                                               title      money
5  Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...  366947.20
0                        Курс обучения «Консультант»  208163.49
1                         Курс обучения «Специалист»  160862.64
2                            Курс обучения «Эксперт»  148992.80
4  Курс от Школы Диетологов. Повышение квалификац...   88384.92
3                   Курс от Школы Диетологов. Бизнес   18752.54

In [ ]:
new_df.shape

In [ ]:
gropuped_df = df.groupby(["title", "city"], as_index=False).aggregate({"money":"sum"})
gropuped_df

In [ ]:
sorted_df = gropuped_df.sort_values("money", ascending=False)
sorted_df

In [38]:
money_title = df\
        .query("status == 'Завершен'")\
        .groupby("title", as_index=False)\
        .aggregate({"money":"sum", "number":"count"})\
        .rename(columns={"number":"success_orders"})\
        .sort_values("money", ascending=False)
money_title

,title,money,success_orders
5,Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...,366947.20,125
0,Курс обучения «Консультант»,208163.49,31
1,Курс обучения «Специалист»,160862.64,7
2,Курс обучения «Эксперт»,148992.80,5
4,Курс от Школы Диетологов. Повышение квалификац...,88384.92,9
3,Курс от Школы Диетологов. Бизнес,18752.54,3

In [ ]:
# index = money_title.money.idxmax()
# res = money_title.title[index]
# res

In [ ]:
index_max = money_title.money.idxmax()
index_min = money_title.money.idxmin()

In [ ]:
index_max, index_min

In [ ]:
max_title = money_title.title[index_max]
max_title

In [ ]:
min_title = money_title.title[index_min]
min_title

In [ ]:
if (int(money_title.money.sum()) == int(all_money) and money_title.title.shape[0] == title_count.shape[0]):
    
    money_title = money_title.rename(columns={
        "title" : "Название курса",
        "money" : "Заработано",
        "success_orders" : "Количество заказов",
    })
    today = datetime.today().strftime('%Y-%m-%d')
    file_name = f"money_by_city_{today}.xlsx"
    print("Ok, file created")
    money_title.to_excel(file_name, index=False)
else:
    print("Error")