In [4]:
import pandas as pd

README ЧАСТЬ

In [9]:
df = pd.read_csv("lesson_1_data.csv", encoding="windows-1251", sep=";")

In [18]:
df.tail()

,Номер,Дата создания,Дата оплаты,Title,Статус,Заработано,Город,Платежная система
287,1064720,30.12.2019 9:42,30.12.2019 12:49,Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...,Завершен,2935.44,Самарская область,Яндекс.Касса
288,1064724,30.12.2019 11:32,NaN,Курс обучения «Консультант»,Отменен,0.00,NaN,NaN
289,1064775,31.12.2019 2:17,31.12.2019 2:22,Курс обучения «Консультант»,Завершен,7423.92,NaN,"Сбербанк эквайринг,Бонусный счет"
290,1064793,31.12.2019 16:40,01.01.2020 14:29,Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...,Завершен,2935.44,Республика Карелия,Яндекс.Касса
291,1064796,31.12.2019 17:29,31.12.2019 17:32,Курс от Школы Диетологов. Повышение квалификац...,Завершен,9898.56,Уфа,"Сбербанк эквайринг,Бонусный счет"

In [17]:
df.shape

(292, 8)

In [20]:
df.dtypes

Номер                  int64
Дата создания         object
Дата оплаты           object
Title                 object
Статус                object
Заработано           float64
Город                 object
Платежная система     object
dtype: object

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 292 entries, 0 to 291
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Номер              292 non-null    int64
 1   Дата создания      292 non-null    object
 2   Дата оплаты        180 non-null    object
 3   Title              292 non-null    object
 4   Статус             292 non-null    object
 5   Заработано         292 non-null    float64
 6   Город              279 non-null    object
 7   Платежная система  182 non-null    object
dtypes: float64(1), int64(1), object(6)
memory usage: 18.4+ KB

In [22]:
dict1 = {"qwe" : 1, "asd" : 2, "zxc" : 3}
dict1["asd"]

2

In [31]:
df["Статус"].unique()

array(['Завершен', 'Отменен', 'Ожидаем оплаты', 'В работе',
       'Частично оплачен'], dtype=object)

In [54]:
df.query("status == 'Частично оплачен'")

,number,create_date,payment_date,title,status,money,city,payment_method
281,1064679,29.12.2019 12:26,NaN,Курс от Школы Диетологов. Бизнес,Частично оплачен,0.0,Кемеровская область,Бонусный счет
283,1064686,29.12.2019 15:52,NaN,Курс от Школы Диетологов. Повышение квалификац...,Частично оплачен,0.0,Чеченская Республика,Бонусный счет

In [34]:
all_money = df["Заработано"].sum()
all_money

992103.5900000001

In [38]:
df.columns

Index(['Номер', 'Дата создания', 'Дата оплаты', 'Title', 'Статус',
       'Заработано', 'Город', 'Платежная система'],
      dtype='object')

In [39]:
df = df.rename(columns= {
    "Номер" : "number",
    "Дата создания" : "create_date",
    "Дата оплаты" : "payment_date",
    "Title" : "title",
    "Статус" : "status",
    "Заработано" : "money",
    "Город" : "city",
    "Платежная система" : "payment_method"
})

In [40]:
df.head()

,number,create_date,payment_date,title,status,money,city,payment_method
0,1062823,01.12.2019 10:50,01.12.2019 10:52,Курс обучения «Эксперт»,Завершен,29597.5,Чита,Сбербанк эквайринг
1,1062855,01.12.2019 20:53,01.12.2019 21:27,Курс обучения «Эксперт»,Завершен,17450.3,Краснодар,Яндекс.Касса
2,1062856,01.12.2019 21:43,NaN,Курс обучения «Специалист»,Отменен,0.0,NaN,NaN
3,1062880,03.12.2019 0:18,NaN,Курс обучения «Консультант»,Отменен,0.0,г.Москва и Московская область,NaN
4,1062899,03.12.2019 21:43,NaN,Курс обучения «Эксперт»,Отменен,0.0,г.Москва и Московская область,NaN

In [55]:
users_in_courses = df\
    .query("status == 'Завершен'")\
    .groupby("title", as_index = False)\
    .aggregate({"number":"count", "money":"sum"})\
    .sort_values("money", ascending = False)

In [56]:
users_in_courses

                                               title  number      money
5  Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...     125  366947.20
0                        Курс обучения «Консультант»      31  208163.49
1                         Курс обучения «Специалист»       7  160862.64
2                            Курс обучения «Эксперт»       5  148992.80
4  Курс от Школы Диетологов. Повышение квалификац...       9   88384.92
3                   Курс от Школы Диетологов. Бизнес       3   18752.54